<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      {{titulo}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-searchbar placeholder="Buscar">

  </ion-searchbar>
  <ion-list>

    <ion-item-sliding>

      <ion-item lines="full">

        <ion-thumbnail slot="start">
          <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/ijvC2w2yANsfgLT3LMu2zFr0fxh.jpg">
        </ion-thumbnail>
        <ion-label class="ion-text-wrap">
          <div>
            <h1>Mortal Kombat (2021)</h1>
            <p>15/04/2021</p>
            <p>1h 50m</p>
            <p>Ação, Aventura, Fantasia</p>
          </div>
        </ion-label>

        <ion-chip color="success" outline>
          <ion-label>76%</ion-label>
        </ion-chip>

      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color="laranja" expandable (click) = "exibirAlertaFavorito()">
          <ion-icon name="star" slot="icon-only" color="light"></ion-icon>
        </ion-item-option>
      </ion-item-options>

    </ion-item-sliding>

    <ion-item-sliding>

      <ion-item lines="full">

        <ion-thumbnail slot="start">
          <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/yLxbDZ1h7wbHo7mkyX5AR9hjODe.jpg">
        </ion-thumbnail>
        <ion-label class="ion-text-wrap">
          <div>
            <h1>O Senhor das Armas (2005)</h1>
            <p>14/10/2005</p>
            <p>2h 2m</p>
            <p>Crime, Drama, Thriller</p>
          </div>
        </ion-label>

        <ion-chip color="success" outline>
          <ion-label>73%</ion-label>
        </ion-chip>

      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color="laranja" expandable (click) = "exibirAlertaFavorito()">
          <ion-icon name="star" slot="icon-only" color="light"></ion-icon>
        </ion-item-option>
      </ion-item-options>

    </ion-item-sliding>

  </ion-list>

</ion-content>
