<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Sobre
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <img src="https://steamuserimages-a.akamaihd.net/ugc/931563985886210928/DE9D9187CFA085AEFD5689932F0E3E4194167CB1/?imw=5000&imh=5000&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=false" alt="">

  <h1>Kaique Mendonça</h1>
  <p>Estudante do BG</p>
  <a href="mailto:kaiquesmend@gmail.com">email</a>

</ion-content>
